body {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

  .card {
    display: flex;
    flex-direction: column;
    top: 10rem;
    left: 50vh;
    width: 50rem;
    height: auto;
    color: #e46f01;
    border-radius: 0.25rem;
    padding: 3rem;
    position: absolute;
  }
  
  .card h1 {
    font-size: 3rem;
    font-family: 'Oooh Baby', cursive;
    margin-bottom: 1rem;
  }
  
  .card p {
    font-size: 1.2rem;
    color: white;
  }
  
  .card:after {
    position: relative;
    top: 50%;
    left: 0;
    content: '';
    width: 80%;
    height: 20px;
    background-image: linear-gradient(-45deg, #0c6333 25%, #d61334 25%, #d61334 50%, #0c6333 50%, #0c6333 75%, #d61334 75%, #d61334 100%);
    background-size: 85px 85px;
  }

.snow {
    width: 10px;
    height: 10px;
    background:#fff;
    border-radius: 50%;
    animation: snow 10s linear infinite;
}

.snow:nth-of-type(2n) {
    width: 7px;
    height: 7px;
    animation-duration: 7s;
    animation-delay: 1s;
}

.snow:nth-of-type(2n+1) {
    animation-duration: 8s;
    animation-delay: 2s;
}

.snow:nth-of-type(9n) {
    animation-duration: 9s;
    animation-delay: 3s;
}

@keyframes snow {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    20% {
        opacity: 1;
        transform: translate(-15px, 20vh);
    }
    40% {
        opacity: 1;
        transform: translate(15px, 40vh);
    }
    60% {
        opacity: 1;
        transform: translate(-15px, 60vh);
    }
    80% {
        opacity: 1;
        transform: translate(0, 80vh);
    }

    100% {
        opacity: 1;
        transform: translateY(100vh);
    }
}